@font-face {
  font-family: Dudler;
  src: url(Dudler-Regular.otf);
}

:root {
  --marginWidth: 50px;
}



html, body {
  margin: 0;
  padding: 0;
}

body{
  background-color: #000;
}

canvas {
  position: absolute;
  left: 0;
  top:0;
  bottom: 0;
  aspect-ratio: 1.896 / 1;
  z-index: 100;
  width: calc( ( 100vw / 3 ) * 2 - var(--marginWidth) * 2 ) !important;
  margin: auto var(--marginWidth) auto var(--marginWidth);
}

.title{
  position: absolute;
  top: var(--marginWidth);
  left: var(--marginWidth);
  z-index: 200;
  color: #fff;
  font-size: 4vmax;
  font-family: Dudler;
  letter-spacing: 0.12em;
}

.box{
  position: absolute;
  top: var(--marginWidth);    
  left: calc( ( 100vw / 3 ) * 2 );
  width: calc( 100vw / 3 - 100px);
  height: calc( 100vh - var(--marginWidth) * 2 );
}

.overlay{
  background-color: #abc;
  z-index: 200;
  padding: 50px; 
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.5vmax;
  hyphens: auto;
}

.endScreen{
  background-color: rgb(184, 204, 170);
  z-index: 200;
  display: none;
}

.responsive-iframe{
   
  z-index: -1;
}

#capture {
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 10;
  width: calc( ( 100vw / 3 ) * 2 - var(--marginWidth) * 2 ) !important;
  height: calc(100vh - var(--marginWidth) * 2 ) !important;
  margin: var(--marginWidth);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

