@font-face {
  font-family: Dudler;
  src: url(Dudler-Regular.otf);
  font-family: Geomanist;
  src: url(Geomanist-Regular.otf);
}

:root {
  --marginWidth: 50px;
}



html, body {
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(15, 15, 20);
}

canvas {
  position: absolute;
  left: 0;
  top:0;
  bottom: 0;
  aspect-ratio: 1.896 / 1;
  z-index: 100;
  width: calc( ( 100vw / 3 ) * 2 - var(--marginWidth) * 2 ) !important;
  margin: auto var(--marginWidth) auto var(--marginWidth);
}

.title{
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  z-index: 200;
  color: rgb(173, 36, 122);
  font-size: calc( (( 100vmin / 3 ) - ( 2 * var(--marginWidth) )) / 2.5 );
  font-family: Dudler;
  letter-spacing: 0.12em;
}

.ticker-container {
  position: absolute;
  top: calc(100vmin - var(--marginWidth) * 5.2 );
  left: var(--marginWidth);
  z-index: 300;
  width: calc( (( 100vw / 3 ) * 2 ) - (var(--marginWidth) * 2));
  overflow: hidden;
}

.ticker-wrapper {
  width: calc( ( 100vw / 3 ) * 2 );
  padding-left: 100%;
  background-color: rgb(209, 206, 214);
}

@keyframes ticker {
  0% {transform: translate3d(0, 0, 0);}
  100% {transform: translate3d(-100%, 0, 0);}
}

.ticker-transition {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 25s;
}

.ticker-item {
  display: inline-block;
  padding-top: 1rem;
  padding-right: 15rem;
  padding-bottom: 0.5rem;
  padding-left: 15rem;
  color:rgb(173, 36, 122);
  font-size: 4vmax;
  font-family: Geomanist;
  letter-spacing: 0.08em;
  word-spacing: 0.3em;

}

.rightbox{
  position: absolute;
  top: var(--marginWidth);    
  left: calc( ( 100vw / 3 ) * 2 );
  width: calc( 100vw / 3 - 100px);
  height: calc( 100vh - var(--marginWidth) * 2 );
}

.leftbox{
  position: absolute;
  top: var(--marginWidth);    
  left: var(--marginWidth);
  width: calc( (100vw / 3) * 2 - (2 * var(--marginWidth)));
  height: calc( (100vh / 4) + var(--marginWidth));
}

.overlay{
  background-color: rgb(209, 206, 214);
  z-index: 200;
  padding: var(--marginWidth); 
  box-sizing: border-box;
  font-family: Geomanist;
  font-size: 2.8vmax;
  color:  rgb(173, 36, 122);
  line-height: 1.15;
  hyphens: none;
}

.overlayers{
  top: calc(100vmin - var(--marginWidth) * 5.2 );
  padding: var(--marginWidth);
  z-index: 201;
  font-family: Geomanist;
  font-size: 1.6vmax;
  color:  rgb(173, 36, 122);
  line-height: 1.15;
  hyphens: auto;
}

.endScreen{
  background-color: rgb(173, 36, 122);
  z-index: 200;
  display: none;
}

.responsive-iframe{
   
  z-index: -1;
}

#capture {
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 10;
  width: calc( ( 100vw / 3 ) * 2 - var(--marginWidth) * 2 ) !important;
  height: calc(100vh - var(--marginWidth) * 2 ) !important;
  margin: var(--marginWidth);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

